openapi: 3.1.0
info:
  title: Diviaster Tarot Action API
  version: 1.0.0
servers:
  - url: https://divia.pegasuswingman.com
paths:
  /tarot/read:
    post:
      operationId: readTarot
      summary: Deal a Celtic Cross spread and return a chat-ready reading
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                seed:
                  type: string
                allowReversals:
                  type: boolean
                  default: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  chat:
                    type: string
                  spread:
                    type: object
  /tarot/last:
    get:
      operationId: lastTarot
      summary: Get the last dealt spread/analysis
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  chat:
                    type: string
                  spread:
                    type: object
        '204':
          description: No content
  /:
    get:
      operationId: health
      summary: Health check
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: string
                example: ok
